{% include 'blog/base.html' %}

<div class = "container wrapper" >
  <div class = "row">
      <div class = "col-md-3"> </div>
      <div class = "col-md-6">
        <h4 class = "text-center"> {{ post.title }} </h4>
        <h6 class = "text-center"> Category: {{ post.category }}</h6>
        <h6 class = "text-center"> Date: {{ post.postCreatedDate }} </h6>
        <h6 class = "text-center"> Author: {{ post.postAuthor }}</h6>
        <br>
          {{ post.postContent }}
        <br><br>
        Likes: {{ post.postLikes }}
        <a href="/post/like/{{post.pk}}" class="btn btn-success btn-md">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
        </a>
        <hr>
        <div class = "comments">
          <h4> Comments </h4>
            <!-- displaying comments of that blog post -->
            {% for comment in post.comment_set.all %}
            <ul>
                {{ comment.commentAuthor }}
                {{ comment.commentCreatedDate }}
                <br>
                  {{ comment.commentContent }}
                <br>
                <!-- a link to edit a comment -->
                <a href='/post/{{post.pk}}/edit/comment/{{comment.pk}}'>
                  Edit Comment
                </a>
                <!-- a link to delete a comment -->
                <a href='/post/{{post.pk}}/delete/comment/{{comment.pk}}' style ="color:red"
                  onclick="return confirm('Do you want to delete this comment?')">
                  Delete Comment
                </a>
              </ul>
              {% endfor %}
          </div>
          <br>
          <!-- a link as a button to add a comment to a post -->
          <a href='/post/{{post.pk}}/add/comment' class="btn btn-info" role="button"> Add Comment</a>
          <!-- a link as a button to edit a post -->
          <a href='/post/edit/{{post.pk}}' class="btn btn-warning" role="button"> Edit Post</a>
          <!-- a link as a button to delete your post -->
          <a href='/post/delete/{{post.pk}}' class="btn btn-danger" role="button"
          onclick="return confirm('Do you want to delete this post?')"> Delete Post</a>
      </div>
      <div class = "col-md-3"> </div>
  </div>
</div>
