<!-- loading base.html -->
{% include 'blog/base.html' %}

<div class = "container wrapper" >
  <h4 class = "text-center"> All Blog Posts </h4>
  <div class = "row">
      {% for post in post_list %}
      <div class = "col-md-1"> </div>
      <div class = "col-md-3">
        <!-- a navigation link to that post's detail page -->
        <h6> <a href= "{% url 'blog:postDetail' post_id=post.pk %}"> Blog Title: {{ post.title }} </a> </h6>
        <h6> Category: {{ post.category }}</h6>
        <h6> Author: {{ post.postAuthor }}</h6>
      </div>
      {% endfor %}
  </div>
</div>
