<!-- loading base.html -->
{% include 'blog/base.html' %}

<br>
<div class = "container-fluid" >
  <h3 class = "text-center"> Blog Posts </h3>
  <div class = "row">
      {% for post in post_list %}
      <div class = "col-md-1"> </div>
      <div class = "col-md-3">
        <!-- a navigation link to that post's detail page -->
        <h3> <a href= "{% url 'blog:postDetail' post_id=post.pk %}"> Blog Title: {{ post.title }} </a> </h3>
        <h5> Category: {{ post.category }}</h5>
        <h5> Author: {{ post.postAuthor }}</h5>
      </div>
      {% endfor %}
  </div>
</div>
