{% include 'blog/base.html' %}

{% load crispy_forms_tags %}

<div class = "container wrapper" >
    <div class = "text-center">
      <h4>Edit Your Blog Post!</h4>
      <br>
      <form enctype="multipart/form-data" action = "update/" method="POST" >
        {% csrf_token %}

        <div class="row">
           <div class="col-md-4"> </div>
           <div class="col-md-4">
              {{ post_edit_form.title | as_crispy_field }}
           </div>
           <div class="col-md-4"></div>

           <div class="col-md-4"></div>
           <div class="col-md-4">
              {{ post_edit_form.category | as_crispy_field }}
           </div>
           <div class="col-md-4"></div>

           <div class="col-md-2"></div>
           <div class="col-md-8">
               {{ post_edit_form.postContent | as_crispy_field }}
           </div>
           <div class="col-md-2"></div>

            <div class="col-md-4"> </div>
            <div class="col-md-4">
                {{ post_edit_form.postImage | as_crispy_field }}
            </div>
            <div class="col-md-4"></div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
</div>
