{% include 'blog/base.html' %}

{% load crispy_forms_tags %}

<div class = "container wrapper" >
    <div class = "text-center">
      <h4>Create Your Blog Post! </h4>
      <br>
      <!-- necessary for submitting files to server -->
      <form enctype="multipart/form-data" action = "publish/" method="POST" >
        {% csrf_token %}

         <div class="row">
            <div class="col-md-4"> </div>
            <div class="col-md-4">
               {{ post_form.title | as_crispy_field }}
            </div>
            <div class="col-md-4"></div>

            <div class="col-md-4"></div>
            <div class="col-md-4">
               {{ post_form.category | as_crispy_field }}
            </div>
            <div class="col-md-4"></div>

            <div class="col-md-2"></div>
            <div class="col-md-8">
                {{ post_form.postContent | as_crispy_field }}
            </div>
            <div class="col-md-2"></div>

            <div class="col-md-4"> </div>
            <div class="col-md-4">
                {{ post_form.postImage | as_crispy_field }}
            </div>
            <div class="col-md-4"></div>
         </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
</div>
