{% include 'blog/base.html' %}

{% block content %}
{% endblock %}

<br> <br>
<div class = "container" >
  <div class = "row">
      <div class = "col-md-4"> </div>
      <div class = "col-md-4">
        <h4> Blog Title: {{ post.title }} </h4>
        <h6> Category: {{ post.category }}</h6>
        <h6> Date: {{ post.publishedDate }}
        <h6> Author: {{ post.postAuthor }}</h6>
        <br>
          {{ post.postContent }}
        <br><br>
        Likes: {{ post.postLikes }}
        <a href="/post/like/{{post.pk}}" class="btn btn-success btn-md">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
        </a>

        <div>
          <hr>
          <h4> Comments </h4>
          <!-- displaying comments of that blog post -->
          {% for comment in post.comment_set.all %}
            <ul>
              {{ comment.commentAuthor }}
              {{ comment.commentCreatedDate }}
              <br>
              {{ comment.commentContent }}
              <br>
            </ul>
            {% endfor %}
          </div>
        <br>
        <!-- a link as a button to add a comment to a post -->
        <a href='/post/{{post.pk}/add/comment}' class="btn btn-info" role="button"> Add Comment</a>
        <!-- a link as a button to edit a post -->
        <a href='/post/edit/{{post.pk}}' class="btn btn-warning" role="button"> Edit Post</a>
        <!-- a link as a button to delete your post -->
        <a href='/post/delete/{{post.pk}}' class="btn btn-danger" role="button"
        onclick="return confirm('Are you sure you want to delete this?')"> Delete Post</a>
      </div>
  </div>
</div>
