
*{
  font-family: Verdana, Arial, Georgia;
  font-size: 12pt;
}

body{
  padding: 0px;
  margin: 0px;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
}

.wrapper{
  /* color: Coconut Milk */
  background-color: #F0EDE5;
}

.page-header{
  margin-top: 2%;
  margin-bottom: 3%;
  padding: 10px;
}

.bottom-buffer {
  margin-bottom: 5%;
}


hr {
  color: black;
  height: 1px;
}

a:hover{
  /* color: Greenery */
  color: #92B558;
}

.comments{
  /* color: Tofu */
  background-color: #EAE6DA;
}
