{% include 'blog/base.html' %}

<div class = "container-fluid" >
    <div class = "text-center">
      <h3>Login Here! </h3>
      <br>
      <div class = "center-text">
        <form method="POST" action="{% url 'blog:validateLogin' %}">
          {% csrf_token %}
          <label for="username">Username:</label>
          <br>
          <input type="text" name="username">
          <br>
          <label for="password">Password: </label>
          <br>
          <input type="password" name="password">
          <br> <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      <div>
    </div>
</div>
